<div class="container">
  <div class="row">
    <%= flash[:notice] %>
    <div class="col-md-3">
      <!-- ここから -->
      <!-- ユーザーの投稿一覧 -->
<%= render 'books/user-info', user: @user ,book: @book %>

</div>
<!-- ここまで切り取り -->

<div class ="col-md-8 offset-md-1">
<h2>Users</h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
    <th>image</th>
    <th>name</th>
    <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>

    <% @users.each do |user| %>
    <tr>
      <td><%=user.name %></td>

      <td><%= link_to "Show",user_path(user.id) %></td>

    </tr>
    <% end %>

  </tbody>
</table>
</div>
</div>
</div>
